@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin outward($width, $height) {
    width: $width;
    height: $height;
}

@mixin color($frontColor,$backColor) {
    color: $frontColor;
    background-color: $backColor;
}

@mixin font($frontSize,$fontFamily) {
    font-size: $frontSize;
    font-family: $fontFamily;
}


//字型設定(roboto font)
@font-face{
    font-family: 'title';
    src: url('../font/Roboto-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'text';
    src: url('../font/Roboto-Regular.ttf') format('truetype');
}

//顏色設定
$primary:#0275D8;
$secondary:#BEE1FF;
$notice:#F5A623;
$disable:#9B9B9B;