@import '../scss/allMix.scss';




#wrapper{

    > form{
        > div{
            position: relative;
            &:nth-child(1){
                @include outward(100%,140px);
                @include flex(row);
                justify-content: center;
                align-items: center;
                border: 2px solid black;
                border-radius: 5px;
                cursor: pointer;
                color: $disable;
                margin-bottom: 16px;
                &:hover{
                    border: 2px solid $primary;
                    >i, p{
                        color: $primary;
                    }
                }
                >*{
                    display: inline-block;
                }
                > i{
                    font-size: 45px !important;
                    padding-right: 20px !important;
                }
                > p{
                    line-height: 24px !important;
                }
                > input{
                    cursor: pointer;
                    position: absolute;
                    height: 140px;
                    top: -9px;
                    opacity: 0;
                }
            }
            &:nth-child(2){ //warnBlock
                display: none;
                @include outward(100%, 52px);
                @include color(white,$notice);
                line-height: 52px;
                text-align: center;
                font-size: 18px;
                &:before{
                    content: '\f071';
                    font-family: "Font Awesome 5 Free"; 
                    font-weight: 900;
                    padding-right: 10px;
                }
            }
            &:nth-child(3){  //upDate
                @include flex(row);
                > div{
                    margin: 16px 0 24px;
                    @include outward(30%, 0);
                    position: relative;
                    cursor: pointer;
                    border-radius: 8px;
                    padding-bottom: 30%;
                    background-size: cover;
                    background-position: center center;
                    &:hover{
                        > div{
                            display: block;
                        }
                    }
                    > div{  //內hover元素(藍底白字)
                        width: 100%;
                        height: 40%;
                        display: none;
                        background-color: rgba($primary, 0.7);
                        position: absolute;
                        bottom: 0;
                        border-bottom-left-radius: 8px;
                        border-bottom-right-radius: 8px;
                        &:before{
                            content: '\f2ed';
                            font-family: "Font Awesome 5 Free"; 
                            font-weight: 900;
                            padding-right: 10px;
                            color: white;
                            position: absolute;
                            font-size: 20px;
                            left: calc(50% - 10px);
                            top: calc(50% - 10px);
                        }
                    }
                    &:nth-child(2){  //設定中間區塊邊界
                        margin: 16px 5% 24px;
                    }
                }
            }
        }
    }
}