<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>F2E-Level2</title>
        <link rel="stylesheet" href="fontawesome-free/css/all.css">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/jquery-ui.min.css">
        <link rel="stylesheet" href="css/all.css">
        <link rel="stylesheet" href="css/allResponsive.css">
    </head>
    <body>
        <div id="wrapper">
            <!--header-->
            <header>
                <h1 data-name="back" @click="backHome($event)">HaveFun</h1>
                <div class="box">
                    <span class="icon">
                        <i class="fa fa-search"></i>
                    </span>
                    <input v-model="typeSearch" debounce="1000" type="search" placeholder="Explorer your own activites"> 
                    <div></div>
                </div>
            </header>
            <!--aside右半邊-->
            <aside>
                <div>
                    <h2 @click="tableKeyEvent($event)" data-num='0'>
                        Location
                        <span>
                            <i data-num='0' class="fa fa-plus"></i>
                        </span>
                    </h2>
                    <div>
                        <select name="a" id="selectZone" @change="filterChange($event)">
                            <option value="">區域全選</option>
                            <template v-for="(item,index) in countyTrue">
                                <option :value="item">{{ item }}</option>
                            </template>
                        </select>
                    </div>
                </div>
                <div>
                    <h2 @click="tableKeyEvent($event)" data-num='1'>
                        Date
                        <span>
                            <i data-num='1' class="fa fa-plus"></i>
                        </span>
                    </h2>
                    <div>
                        <p>from</p><input @click="datePick" class="dateChoose" readonly="readonly" type="text"><br>
                        <p>to</p><input @click="datePick" class="dateChoose" readonly="readonly" type="text">
                    </div>
                </div>
                <div>
                    <h2 @click="tableKeyEvent($event)" data-num='2'>
                        Categories
                        <span>
                            <i data-num='1' class="fa fa-plus"></i>
                        </span>
                    </h2>
                    <div>
                        <template v-for="(item,key,index) in checkBox">
                            <input v-model="criteria[item]" 
                            :data-name="key" 
                            :true-value="yes[index]" :false-value="no"
                            type="checkbox" name="filter" checked>
                            <p>{{ key }}</p><br>
                        </template>
                    </div>
                </div>                
            </aside>
            <!--section左半邊-->
            <section>
                <p class="searchResponse">
                    Showing <span v-text="searchResult"></span> results by
                </p>
                <div class="selectBoard" @click="deleteSelect($event)">
                    <template v-for="(item,index) in filterSelect">
                        <div>
                            {{ item }}
                            <i :data-num="index" :data-name="item" class="far fa-times-circle"></i>
                        </div>
                    </template>
                </div>
                <div class="content">
                    <!--displaData資料-->
                    <template v-for="(item,index) in displayData">　
                        <div class="block" @click="showDetail($event)" :data-num="item._id">
                            <div :data-num="item._id" :style="{ backgroundImage: 'url(' + item.Picture1 + ')' }">
                            </div>
                            <div :data-num="item._id">
                                <h3 :data-num="item._id">{{ item.Name }}</h3>
                                <p class="Description" :data-num="item._id">
                                {{ item.Description.slice(0,99).concat('......(詳全文)') }}
                                </p>
                                <p class="tagName" :data-num="item._id">
                                    <span>Entertainment</span>
                                </p>
                                <p class="info" :data-num="item._id">
                                    <span class="Zone">
                                        <a :href="[ 'https://www.google.com.tw/maps/place/' + item.Add ]">
                                            <i class="fas fa-map-marker-alt"></i>
                                            {{item.Zone}}
                                        </a>
                                    </span>
                                    <span class="Tel">
                                        <a :href=" item.Tel.replace('886-7-','+8867') ">
                                            <i class="fas fa-phone"></i>
                                            {{ item.Tel.replace('886-7','07') }}
                                        </a>
                                    </span>
                                    <span class="Opentime" :data-num="item._id">
                                        <i class="far fa-calendar-alt"></i>
                                        {{ item.Opentime }}
                                    </span>
                                </p>
                            </div>
                        </div>
                    </template>
                </div>
                <div class="pagination" @click="changePage($event)">
                    <div data-name="pre"> &laquo; </div>
                    <template v-for="index in totalPages">
                        <div :data-name="index" :class="{ active : nowNum == index }">{{ index }}</div>
                    </template>
                    <div data-name="next"> &raquo; </div>
                </div>
            </section>
            <!--detail-->
            <div class="detail">
                <div class="breadCrumbs">
                    <span @click="backHome()">Explore</span>
                    /
                    <span class="placeName">{{ name }}</span>
                </div>
                <div class="detailContent">
                    <div class="imgBack" :style="imgUrl">
                    </div>
                    <div class="detailArticle">
                        <h3>{{ name }}</h3>
                        <p class="tagName">
                            <span>Entertainment</span>
                        </p>
                        <p class="info">
                            <span class="Tel">
                                <a :href="callTel">
                                    <i class="fas fa-phone"></i>
                                    {{ showTel }}
                                </a>
                            </span>
                            <span class="Zone"><br>
                                <a :href="linkAdd">
                                    <i class="fas fa-map-marker-alt"></i>
                                    {{ Add }}
                                </a>
                            </span>
                            <span class="Opentime"><br>
                                <i class="far fa-calendar-alt"></i>
                                {{ Opentime }}
                            </span>
                        </p>
                        <div class="Description">
                            {{ Description }}
                        </div>
                    </div>
                </div>
                <div class="backKey" @click="backHome()">
                    回上一頁
                </div>
            </div>
        </div>

        <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.8/vue.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.0/axios.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/all.js"></script>
    </body>
</html>